#heroContent {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 1.25em;
}

@media (max-width:1000px) {
    #heroContent {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-start;
        gap: 2em;
    }

    #heroContent p {
        font-size: 1.5rem;
        width: 80%;
    }

    #Nav {
        position: absolute;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: -200%;
        background-color: black;
        transition: all ease .5s;
    }

    #Nav.active {
        top: 0%;
    }

    #burgerIcon {
        display: block;
        position: absolute;
        z-index: 20;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.75);
        padding: 20px;
        right: 2%;
        top: 1%;
        font-weight: bold;
        font-size: 1.5rem;
        color: black;
        border-radius: 50%;
    }
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all ease .1s;
}